<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<link id='theme' rel='stylesheet' href='/static/humane/themes/original.css'/>
<script src='/static/humane/humane.js'></script>


<script type="text/javascript" src="/static/alertframe/ymPrompt.js"></script>



<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台功能管理</title>
</head>
<body>