{{template "head.html" .}}

<div class="addAppTitle">
    <h2>
        <font size="2">为{{.keywords.Keywords}}续费</font>
        <font color="red">
            【当前账户余额：￥<span id="accountspan">{{.account.Money }}</span>】
        </font>
    </h2>
</div>

<div class="formdiv">
    <ul>
        <li>客户名称:<input id="customname" class="customname" value="{{.keywords.CustomName}}"  readonly="readonly" type="text"></li>
        <li>关键词:<input type="text" id="keyword" readonly="readonly" value="{{.keywords.Keywords }}" class="keyword"></li>
        <li>服务类别:




            <select id="servicetype"    >
                <option value="">---请选择--</option>
                {{range  .serviceType}}

                <option value="{{.Id}}"   >{{.ConfigTypeName}}</option>
                {{end}}
            </select>



        </li>
        <li>服务年限:

            <select id="serviceyear">
                <option value="" selected="selected">--请选择--</option>

                <option value="1">1年</option>
                <option value="2">2年</option>
                <option value="3">3年</option>
                <option value="4">4年</option>
                <option value="5">5年</option>
                <option value="6">6年</option>
                <option value="7">7年</option>
                <option value="8">8年</option>
                <option value="9">9年</option>
                <option value="10">10年</option>

            </select> </li>

        <li>价格:	<input type="hidden" id="kid" value="{{.keywords.Id }}" >
            <input class="price" id="price" type="text" readonly="readonly"></li>

        <li><input id="submitkeyword" type="button" value="续费提交"></li>

    </ul>



</div>
















<link rel="stylesheet" type="text/css" href="/static/css/xufei.css" />
<script type="text/javascript" src="/static/js/xufei.js"></script>
{{template "foot"}}
</body>
</html>